.wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 60px auto;
  min-height: 100vh;
  grid-gap: 0px;
  grid-template-areas: 
  	"search header"
  	"left right"
}

.panewrap {
	width: 100%;
	height: 100%;
	background: olive;
}